{% comment %} ADD THIS TO SEPERATE JSFILE IN ASSETS {% endcomment %}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" defer="defer" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" defer="defer" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" defer="defer" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/holistic/holistic.js" defer="defer" crossorigin="anonymous"></script>
<script type="module" defer="defer"></script>

<div id='AR' style="display:none">
  <!-- {% for image in product.images offset:2 limit:1 %} {% comment %} WE NEED TO SET "PRODUCT" AS A VARIABLE IN SETTINGS IN SCHEMA {% endcomment %}
     {% assign imgSrc = image.src | img_url: '600x' %}
  {% endfor %} -->
  <video hidden class="input_video"></video>
  <canvas id="mediapipe" class="output_canvas" width="1100px" height="720px"></canvas>
  {%- if block.settings.image_1 -%}
    <img src="{{ block.settings.image_1 | image_url: width: 1024 }}" class='hidden' id='media-pipe' width="{{ block.settings.image_1.width }}" height="{{ block.settings.image_1.height }}">
  {%- endif -%}

  <!-- <img src="https:{{imgSrc}}" class='hidden' id='media-pipe' width=image.width height=image.height>
	<video class="input_video"></video>
  <canvas class="output_canvas" width="1280px" height="720px"></canvas> -->
</div>


<script src="{{ 'mediapipe.js' | asset_url }}" defer></script>

  {% schema %}
  {
    "name": "Test App",
    "target": "section",
    "stylesheet": "app-block.css",
    "templates": ["product"],
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Test app"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "A simple app block that shows a grid of images that can be customized by the merchant. Each image can be selected to show a popup with the full-sized image."
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
      }
    ]
  }
{% endschema %}
